{% extends 'layout/base.html' %}

{% block title %} Product {% endblock %}
{% block content %}

<div class="container">
      <div class="row">
          <div class="col-md-12">
              <h2>Danh sách sản phẩm</h2>
              <a href="#" method="POST" class="btn btn-info btn-lg">Thêm sản phẩm</a> 
              <hr>
                <form action="">
                    <input type="text" placeholder="tim kiem.........." name="keyword">
                    <input type="number" placeholder="nhap gia bat dau " name="from_price">
                    <input type="number" placeholder="nhap gia ket thuc " name="to_price">
                    <input type="submit" value="Tim">
            </div>
              </hr>              
              <table class="table table-striped">

                  <thead>
                      <tr>
                          <th>ID</th>
                          <th>Name</th>
                          <th>Image</th>                         
                          <th>Description</th>
                          <th>price</th>
                          <th>Function</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for row in products %}
                      <tr>
                          <td>{{ row.id }}</td>
                          <td>{{ row.name }}</td>
                          <td>
                            <a href="{{ url_for('detail', product_id =row.id)}}">
                            <img class="img-fluid" width="300" height="200" src="{{ row.images }}">
                            </a>
                         </td>
                          <td>{{ row.description }}</td>
                          <td>{{ row.price }}</td>
                          <td>
                              <a
                                  href="#!"
                                  class="btn btn-warning btn-xs"
                                  data-toggle="modal"
                                  data-target="#modelEdit{{ row.id }}"
                              >Edit</a>
                              <a href="/deleteP/{{ row.id }}" class="btn btn-danger btn-xs" onclick="return confirm('Do you want to delete?')">Delete</a>
                              <a href="/detail/{{ row.id }}" class="btn btn-danger btn-xs">Detail</a>
                          </td>
                      </tr>
                      <div id="modelEdit{{ row.id }}" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                              <!-- Modal content-->
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      <h4 class="modal-title">Edit</h4>
                                  </div>
                                  <div class="modal-body">
                                      <form action="/updateP" method="POST">
                                          <div class="form-group">
                                              <label>Name:</label>
                                              <input type="hidden" name="id" value="{{ row.id }}">
                                              <input
                                                  type="text"
                                                  class="form-control"
                                                  name="name"
                                                  value="{{ row.name }}"
                                              >
                                          </div>
                                          <div class="form-group">
                                              <label>Image:</label>
                                              <input type="hidden" name="id" value="{{ row.id }}">
                                              <input
                                                  type="text"
                                                  class="form-control"
                                                  name="image"
                                                  value="{{ row.image }}"
                                              >
                                          </div>
                                          <div class="form-group">
                                              <label>Title:</label>
                                              <input type="hidden" name="id" value="{{ row.id }}">
                                              <input
                                                  type="text"
                                                  class="form-control"
                                                  name="title"
                                                  value="{{ row.title }}"
                                              >
                                          </div>
                                          <div class="form-group">
                                              <label>Description:</label>
                                              <input type="hidden" name="id" value="{{ row.id }}">
                                              <input
                                                  type="text"
                                                  class="form-control"
                                                  name="description"
                                                  value="{{ row.description }}"
                                              >
                                          </div>
                                          <div class="form-group">
                                              <label>CateID:</label>
                                              <input type="hidden" name="id" value="{{ row.id }}">
                                              <input
                                                  type="text"
                                                  class="form-control"
                                                  name="cateID"
                                                  value="{{ row.cateID }}"
                                              >
                                          </div>                                        
                                          <div class="form-group">
                                              <button type="submit" class="btn btn-warning">Edit</button>
                                          </div>
                                      </form>
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                      {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</div>

{% endblock %}