
{% extends 'layout/base.html' %}

{% block title %} Product {% endblock %}
{% block content %}
<h1> chao mung </h1>
<div class="container">
    <div class="row">
        {% for p in products %}
        <div class="col-md-3 col-xs-12" style="padding:5px">
            <div class="card" style="padding:5px">
                <img class="card-img-top" src= "{{ url_for('static' , filename= p.image ) }}" >
                <div class="card-body">
                  <h4 class="card-title">{{ p.name }}</h4>
                  <p class="card-text">{{p.price}}</p>
                  <a href="#" class="btn btn-primary">Dat hang</a>
                </div>
              </div>
        </div>
        {% endfor %}
    </div>
    <ul class="pagination">
      {% for p in range(1, pages+1) %}      
      <li class="page-item"><a class="page-link" href="{{ url_for('home', page=p)}}">{{ p }}</a></li>
      {% endfor %}
    </ul>
</div>

{% endblock %}