{% extends 'admin.html' %}

{% block title %} Product {% endblock %}
{% block content %}
<h1 class="subject">chao mung </h1>  
    <div class="container">
        <div>
            <img src="{{ product.images }}" alt="">
        </div>
        <div>
            <h2>{{ product.name}}</h2>
            <p>{{ product.description}}</p>
            <h4>{{ product.price}}</h4>
        </div>

    </div>
{% endblock %}