<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1 class="subject">chao mung </h1>

    <ul>
        <li><a href="{{ url_for('product_list')}}">tat ca san pham</a> </li>
        {% for c in categories %}
            <li><a href="#">{{ c.name }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>