{% extends 'layout/base.html' %}

{% block title %} Login {% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-danger">Dang Nhap nguoi dung </h1>
{% if err_msg %}
    <div class="alert alert-danger">
        <h4>{{ err_msg }}</h4>
    </div>
{% endif%}

    <form action="{{ url_for('login')}}" method="POST" enctype="multipart/form-data">       
        <div class="form-group">
            <label for="username">UserName</label>
            <input type="text" class="form-control" name="username" id="username"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password"/>
        </div>       
        <input type="submit" value="Login" class="btn btn-success">
    </form>
</div>
{% endblock %}