<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1 class="subject">danh muc san pham </h1>

    <table>
        <tr>
            <th></th>
            <th>ma san pham</th>
            <th>san pham</th>
            <th>mo ta</th>
            <th>gia ban</th>
        </tr>
        {% for p in products %}
        <tr>           
              <td>{{ p.image }}</td>
              <td>{{ p.id }}</td>
              <td>{{ p.name }}</td>
              <td>{{ p.description }}</td>
              <td>{{ p.price }}</td>           
        </tr>
        {% endfor %}
    </table>
</body>
</html>