{% extends 'layout/base.html' %}

{% block title %} Register {% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-danger">Dang ky nguoi dung </h1>
{% if err_msg %}
    <div class="alert alert-danger">
        <h4>{{ err_msg }}</h4>
    </div>
{% endif%}

    <form action="{{ url_for('user_register')}}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name"> ho ten</label>
            <input type="text" class="form-control" name="name" id="name"/>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" id="email"/>
        </div>
        <div class="form-group">
            <label for="username">UserName</label>
            <input type="text" class="form-control" name="username" id="username"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password"/>
        </div>
        <div class="form-group">
            <label for="repassword">Re Password</label>
            <input type="password" class="form-control" name="repassword" id="repassword"/>
        </div>
        <div class="form-group">
            <label for="avatar">Images</label>
            <input type="file" class="form-control" name="avatar" id="avatar"/>
        </div>
        <input type="submit" value="Register"   class="btn btn-danger">
    </form>
</div>
{% endblock %}