<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="{{ url_for('static', filename='all.min.css')}}"/>
    <link rel="stylesheet"  href="{{ url_for('static', filename='adminlte.min.css')}}"/>
    <title>
        {% block title %}{% endblock%}
    </title>
</head>
<body>
    {% block header %}
        {% include 'layout/header.html'%}
    {% endblock%}
    <div class="container">
        {% block content %} {% endblock %}
    </div>   
    
</body>
<script href="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
        <script href="{{ url_for('static', filename='js/adminlte.js')}}"></script>
        <script href="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
        <script href="{{ url_for('static', filename='js/demo.js')}}"></script>
</html>