<nav class="navbar navbar-expand-md bg-dark navbar-dark ">
    <!-- Brand -->
    <a class="navbar-brand" href="#">
      <img src="{{ url_for('static', filename="images/avatar.png") }}" 
      class="img-fluid rounded-circle" style="height:60px">Mobile</a>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Trang chu</a>
        </li>
        {% for c in category %}
        <li class="nav-item {% if 'category_id' in request.args and c.id == request.args.category_id|int %} active {% endif %}">
          <a class="nav-link" href="{{url_for('home',category_id =c.id)}}">{{ c.name }}</a>
        </li>
        {% endfor %}
        {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link text-success" href="{{ url_for('home')}}">
                {{ current_user.username}}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-danger" href="{{ url_for('logout')}}">Logout</a>
            </li>

        {% else %}
            <li class="nav-item">
              <a class="nav-link text-success" href="{{ url_for('login')}}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-danger" href="{{ url_for('user_register')}}">Register</a>
            </li>
        {%endif%}
      </ul>
    </div>
    <form class="form-inline">
      <input class="form-control mr-sm-2" name="keyword" type="text" placeholder="Search ...........">
      <button class="btn btn-success" type="submit">Search</button>
    </form>
  </nav>