<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>
        {% block title %}
        {% endblock%}
    </title>
</head>
<body>
    {% block header %}
        {% include 'layout/header.html'%}
    {% endblock%}
    {% block content %}{% endblock%}
    {% block footer %}{% endblock%}
    
</body>
</html>


<div class="container">
    <div class="row">
        {% for p in products %}
        <div class="col-md-3 col-xs-12">
            <div class="card">
                <img class="card-img-top" src= "{{ p.images }}" >
                <div class="card-body">
                  <h4 class="card-title">{{ p.name }}</h4>
                  <p class="card-text">{{p.price}}</p>
                  <a href="#" class="btn btn-primary">Dat hang</a>
                </div>
              </div>
        </div>
    </div>
</div>
<div class="container">
    <form action="{{ url_for('user_register')}}" method="POST">
        <div class="form-group">
            <label for="name"> ho ten</label>
            <input type="text" class="form-control" name="name" id="name"/>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" id="email"/>
        </div>
        <div class="form-group">
            <label for="username">UserName</label>
            <input type="text" class="form-control" name="username" id="username"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password"/>
        </div>
        <div class="form-group">
            <label for="repassword">Re Password</label>
            <input type="password" class="form-control" name="repassword" id="repassword"/>
        </div>
        <input type="submit" value="Register"   class="btn btn-danger">
    </form>
</div>